<div class="sidebar" data-background-color="purple">
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/">
                        <i class="fas fa-home text-success"></i>
                        <p>Trang chủ</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <p class="text-section text-info">mung.tran@hanes.com</p>
                </li>
                <li class="nav-item submenu">
                    <a href="/hanes-hr-network">
                        <i class="
                        fas fa-user-check text-info"></i>
                        <p>Thông tin Nhân sự</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/engineering-trainning-calculate">
                        <i class="fas fa-chalkboard-teacher text-warning"></i>
                        <p>AMT</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/engineering-employee-skills">
                        <i class="fas fa-balance-scale text-success"></i>
                        <p>Engineering</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/engineering-innovation-media-videos">
                        <i class="fab fa-medapps text-warning"></i>
                        <p>Innovation</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/sewing-mechanic-change-style">
                        <i class="fas fa-location-arrow text-muted"></i>
                        <p>Thợ máy Sewing</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/cutting-mechanic">
                        <i class="fas fa-swatchbook text-danger"></i>
                        <p>Thợ máy Cutting</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/warhouse-cutting">
                        <i class="fas fa-bus-alt text-info"></i>
                        <p>Kho Cutting</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/production-radar-payroll">
                        <i class="fas fas fa-diagnoses text-info"></i>
                        <p>RaDAR - Sản xuất</p>
                    </a>
                </li> 
                <li class="nav-item submenu">
                    <a href="/radar-quality-endline-pbvweb01v">
                        <i class="
                        fas fa-burn text-warning"></i>
                        <p>RaDAR - Chất lượng</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/compliance-co2-tracking">
                        <i class="fas fa-heartbeat text-danger"></i>
                        <p>Nồng độ C02</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/production-scanbundle-payroll-check">
                        <i class="fas fa-film text-primary"></i>
                        <p>Kiểm tra tem lương</p>
                    </a>
                </li>
                <li class="nav-item submenu">
                    <a href="/it-temperature-supervisor">
                        <i class="fas fa-thermometer-half text-danger"></i>
                        <p>Nhiệt độ phòng IT</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>