<!DOCTYPE html>
<html lang="en" class="sidebar_minimize">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cutting Mechanic</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="./assets/css/demo.css">
</head>
<body style="background-color: white;">
    <div class="wrapper">
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Cutting Mechanic</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-innovate-64.png" width="30" height="30" alt="">
                    Theo dõi đặt hàng CCS
                </span>

                <div class="container-fluid div-selection">
                    <style>
                        .custom-container{
                            max-width: 120px;
                            margin-left: 30px;
                        }
                    </style>     
                    <select class="form-control custom-container" id="cbb_dept">
                        <option>Bộ phận</option>
                        <option>IE</option>
                        <option>Cutting</option>
                    </select>
                    <select class="form-control custom-container" id="cbb_year">
                        <option>Năm</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                    </select>
                    <select class="form-control custom-container" id="cbb_week">
                        <option>Tháng</option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <% } %>
                                                        <p class="text-muted text-success">Leading the challange</p><a
                                                            href="/logout"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <!-- Sidebar -->
        <%- include ("./partials/mechanic-cutting-sidebar.ejs"); -%>
            <!-- End Sidebar -->
			<div class="main-panel">
				<div class="content">
					<div class="row" style="margin: 10px;">
			
					</div>
				</div>

			</div>
    </div>
    <!--   Core JS Files   -->
    <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="./assets/js/core/popper.min.js"></script>
    <script src="./assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Moment JS -->
    <script src="./assets/js/plugin/moment/moment.min.js"></script>
    <!-- Chart JS -->
    <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
    <!-- Datatables -->
    <script src="./assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
    <!-- Google Maps Plugin -->
    <script src="./assets/js/plugin/gmaps/gmaps.js"></script>
    <!-- Sweet Alert -->
    <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Azzara JS -->
    <script src="./assets/js/ready.min.js"></script>
    <!-- Azzara DEMO methods, don't include it in your project! -->
    <script src="./assets/js/setting-demo.js"></script>
    <script src="./JS/MechanicCutting/js-mechanic-cutting-ccs-control.js"></script>
    <!-- TranMung -->
</body>

</html>