<div class="sidebar" data-background-color="purple">
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/">
                        <i class="fas fa-home text-success"></i>
                        <p class="text-success">Trang chủ</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section text-info">mung.tran@hanes.com</h4>
                </li>
                <li class="nav-item submenu">
                    <a data-toggle="collapse" href="#cuttingmechanic">
                        <i class="fas fa-user-astronaut text-warning"></i>
                        <p>Thợ máy</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse show" id="cuttingmechanic">
                        <ul class="nav nav-collapse bg-white">
                            <li>
                                <a href="/cutting-mechanic-downtime">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-compass text-success"></i>Báo cáo thời gian thực</span>
                                </a>
                            </li>
                            <li>
                                <a href="/cutting-mechanic-downtime">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-layer-group text-success"></i>Bấm giờ máy hỏng</span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="/cutting-mechanic-sparepart-stock">
                                    <span><i class=" la fas fa-file-contract"></i>Yêu cầu phụ tùng</span>
                                </a>
                            </li>
                            <li>
                                <a href="/cutting-mechanic-downtime">
                                    <span><i class="la fas fa-server"></i>Quản lý tồn kho</span>
                                </a>
                            </li> -->
                            <li>
                                <a href="/cutting-mechanic-ccs-control">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-donate text-success"></i>Nhận hàng CCS</span>
                                </a>
                            </li>
                            <li>
                                <a href="/cutting-mechanic-setup-pm-plan">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-clipboard-list text-success"></i>Kế hoạch PM</span>
                                </a>
                            </li>
                            <li>
                                <a href="/cutting-mechanic-setup-layout">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-solar-panel text-success"></i>Bố trí layout máy</span>
                                </a>
                            </li>
                            <li>
                                <a href="cutting-mechanic-downtime-report">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-database text-success"></i>Báo cáo phân tích</span>
                                </a>
                            </li> 
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--  <div class="collapse show bg-white" id="ieinnovation"> -->